<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页-ATS工班管理系统
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
        <div class="container">
            <!-- Main component for a primary marketing message or call to action -->

            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="text-center">{{ informations.first.title }}</h2>
                    <p class="pull-right">作者:{{ informations.first.author }}&nbsp;&nbsp;&nbsp;&nbsp;{{  informations.first.add_time|date:'Y-d-m'}}</p>
                    <br>
                    {{ informations.first.contents|safe }}
                </div>
            </div>


    </div> <!-- /container -->
{% endblock content %}



