<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    班组简介-ATS工班管理系统
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <img src="{% static 'images/introduce.jpg' %}" class="img-responsive" alt="Responsive image">
    <br>
    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->

        {% block brtree %}
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active"><a href="{% url 'intro' %}">班组简介</a></li>
            </ol>
        {% endblock brtree %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="text-center">{{ introduce.0.title }}</h2>
                <p>{{ introduce.0.contents|safe }}</p>
            </div>
        </div>


    </div> <!-- /container -->
{% endblock content %}



