
{% block modal %}
    <!-- Modal -->
    <form action="/todolist/" method="post" id="addtodo_form" name="addtodo_form">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">修改Todo</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="id" name="id" value="">
                        <textarea class="form-control" name="todotext" rows="5" id="todotext"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">保存修改</button></a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}
{% block script %}
    <script type="text/javascript">

    //触发模态框的同时调用此方法

function values(ID) {
    $("#id").val(ID);
    var ID= ID
    //获取变量
    var div_body = document.getElementById(ID+"-panel-body").innerHTML;
    //出去空格
   var str = div_body.replace(/^\s+|\s+$/g,"");
    //向模态框中传值
    $('#todotext').val(str);
    //$('#myModal').modal('show');
}

    </script>

{% endblock %}