{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    检修计划--ATS工班管理系统
{% endblock title %}

{% block content %}
        <img src="{% static 'images/plan.jpg' %}" class="img-responsive" alt="Responsive image">
    <div class="container">
    <br>
        <div class="blog-header">
            <h1 class="blog-title">{{ pltitles.0 }}</h1>
        </div>
        <div class="row">

            <div class="col-sm-8 blog-main">
                <hr>
                <div class="blog-post">
                    {% for plarticle in plarticles.object_list %}
                        <h2 class="blog-post-title">{{ plarticle.article_title }}</h2>
                        {{ plarticle.article_cont|safe}}
                        <hr>
                    {% endfor %}
                </div>


                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        <li>
                            {% if plarticles.has_previous %}
                                <li class="disabled"><a href="?{{ plarticles.previous_page_number.querystring }}"
                                                        aria-label="Previous"><span
                                        aria-hidden="true">&laquo;</span></a></li>
                            {% endif %}

                        {% for page in plarticles.pages %}
                            {% if page %}
                                {% ifequal page plarticles.number %}
                                    <li class="active"><a href="?{{ page.querystring }}">{{ page }} <span
                                            class="sr-only">{{ page }}</span></a></li>
                                {% else %}
                                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                {% endifequal %}
                            {% else %}
                                <li><a href="">...</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if plarticles.has_next %}
                            <li>
                                <a href="?{{ plarticles.next_page_number.querystring }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        </li>
                    </ul>
                </nav>

            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                  <div class="sidebar-module">
                    <h4>时间筛选</h4>
                    <ol class="list-unstyled">
                        {% for planyear in planyears %}
                            <li><a href="?year={{ planyear.id}}">{{ planyear.plan_year }}</a></li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="sidebar-module sidebar-module-inset">
                    <h4>{{ maintains.0.process_title}}</h4>
                    {{ maintains.0.process_cont|safe }}
                </div>
            </div><!-- /.blog-sidebar -->

        </div>

    </div>
{% endblock %}