<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    每日一问-ATS工班管理系统
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <img src="{% static 'images/dailyque.jpg' %}" class="img-responsive" alt="Responsive image">
    <div class="container">
    <br>
        <!-- Main component for a primary marketing message or call to action -->
        <form action="{% url 'que:question' %}" method="post" id="question_form" name="question_form">
            {% for question in all_question %}
                <div class="col-md-offset-2 col-md-8">
                    <div class="form-group">
                    <h2>{{ question.id }}、{{ question.question_title }}</h2>
                    </div>
                     <div class="form-group">
                    <input class="hidden" value="{{ question.id }}" id="record_question_title_id" name="record_question_title_id">
                    <input class="hidden" value="{{ question.course_type_id }}" id="course_type_id" name="course_type_id">
                    <input class="hidden" value="{{ question.answer }}" id="hidden_answer" name="hidden_answer">
                    </div>
                    <div class="form-group">
                    <textarea class="form-control" id="answer_question" name="answer_question" placeholder="填写答案" rows="10"
                    required ></textarea>
                    </div>
                    <div class="form-group">
                    <input class="btn btn-success pull-right" type="submit" value="提交" onclick="myFunction()">
                    </div>
                </div>
            {% endfor %}
            {% csrf_token %}
        </form>
    {{ answer }}
    </div> <!-- /container -->
{% endblock content %}



